.contact {
    font-size: 1rem;
    padding: 2rem 4rem;
    background: url("https://media.giphy.com/media/6YXmxRMrjKZMLUree4/giphy.gif");
    font-family: 'Architects Daughter', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.contact::-webkit-scrollbar{
    width: 0;
}

@media (min-width: 320px) and (max-width: 425px) {
    .contact {
        height: 85vh;
        font-size: 1rem;
        padding: 1rem;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .contact {
        height: 85vh;
        font-size:1rem;
        padding: 0;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .contact {
        height: 85vh;
    }
    
}
